* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* body {   

}

.Bubbles1 {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: aqua;
}

.Bubbles2 {
    color: red;
} */

#mycomponent {
    border: 1px solid red;
}

.component {
 height: 0;
 overflow: hidden;
 transition: height 0.3s ease;
}

.component:hover {
    height: 200px;
}